# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
*.exe
*.dll
ArnServer
persist.db
persist/
tmp/


# Qt-es
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
ui_*.h
*.log
.qmake.stash
Makefile
Makefile.*
*-build-*

# Debug and Release (created under Windows, not Linux)
object_script.*
Debug/
Release/

